
/*Font*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*Media query*/ 

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/*All*/ 

*{
    margin: 0;
    padding: 0;
} 

/*Page Inspiration*/

/*Body Inspiration*/

.B1{
  background-color: bisque;
}

/*Début du Header*/ 

header{
    background-color: blueviolet;
    justify-content: space-between;
}

/*Nav all*/

.nav{
    display: flex;
    justify-content: space-between;
} 

/*Logo*/ 

header h1{
    text-align: center;
    font-family: 'Oswald';
    font-weight: 700;
}



/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
/*icon nav*/

#navbar{
  height: 40px;
  margin-top: 25%;
  margin-left: 10%;
}

/*icon shop*/

#shopify{
    height: 40px;
    margin-top: 2%;
    /* margin-right ;*/
}
/*Fin du Header*/


/* Début du Main*/ f

#inspiMain{
    /* border: 5px solid black; */
    width: 100%;
}

main h1{
    text-align: center;
    font-family: 'Oswald';
    font-weight: 700;
}

main p{
  font-family: 'Oswald';
  font-weight: 300;
}

main img {
  border: 2px solid black;
  gap: 11%;
  width: 9rem;
  height: 9rem;
}

.image-main1{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10%;
  padding-bottom: 10%;
  
}

/* .image-main1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms;
}

.image-main1:hover img{
  transform: scale(2);
} */


.image-main1 p{
  text-align: center;
}

/*Fin du Main*/

/*Début du Footer*/

footer{
  background-color: blueviolet;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p{
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
}


/* Page Contact*/


.B2{
  background-color: bisque;
}


/* Formulaire*/ 

.C1{
  margin: 0px;
  padding: 0px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  padding: 30px;
  border-radius: 10px;
}

/* Titre Formulaire*/

.C1 h1{
  font-size: 20px;
}

/*Trait separation*/

.C1 .separation{
  width: 100%;
  height: 1px;
  background-color: #747cbf;
}


/**/

.C1 .corps-formulaire{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}


.C1 .corps-formulaire .boite{
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.C1 .corps-formulaire .gauche .boite input{
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #747cbf;
  border-radius: 5px;
}

.C1 .corps-formulaire .gauche .boite i{
  position: absolute;
  left: 0;
  top: 25px;
  padding: 15px 8px;
  color: #747cbf;
}

.C1 .corps-formulaire .droite{
  margin-left: 40px;
}

.C1 .corps-formulaire .droite .boite{
  height: 100%;
}

.C1 .corps-formulaire .droite .boite textarea{
  margin-top: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 2px solid #747cbf;
  outline: none;
  resize: none;
  height: 72%;
  border-radius: 5px;
}

.C1 .pied-formulaire button{
  margin-top: 10px;
  background-color: #747cbf;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.C1 .pied-formulaire button:hover{
 transform: scale(1.05);

}

@media screen and (max-width:920px) {
  .C1 .corps-formulaire .droite{
    margin-left: 0px;
  }
  
}